# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\CageP\Desktop\!\TCSS\TCSS 143 (WI2021)\Programming Assignment 5 (Dungeon Adventure)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
